body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #717171;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;

}
button {
  cursor: pointer;
  font-size: inherit;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.button {
  background-color: #4caf4f; /* Зелений колір Nexcent */
  color: white;
  padding: 14px 32px;
  text-decoration: none; /* Прибрати підкреслення посилання */
  border-radius: 4px; /* Закруглені кути */
  display: inline-block;
}
.button:hover{
   background-color: #388E3B;
   transition: background-color 0.3s ease;
}
.accent{
  color: #4caf4f;
}

.title{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  color:#4d4d4d;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 21px 0;
}
.nav{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-list {
  display: flex;
  gap: 17px;
}
.nav-link:hover, .nav-link:focus {
  border-bottom: 2px solid #4CAF4F;
  

}
.header-button {
  gap: 10px;
}


/* hero */
h1 {
  color: #4d4d4d;
  font-size: 64px;
}
.hero{
 
  background-color: #F5F7FA;
  padding: 67px 0;
}
.hero-wrapper{
   display: flex;
  justify-content: space-between;

}
.hero-title{
  max-width: 458px;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 8px;
}
.hero-text{
  margin-bottom: 23px;
}

/* clients */
.clients{
  padding: 28px 0;
}
.clients-title{
  text-align: center;
  margin-bottom: 8px;
}
.clients-text{
  text-align: center;
  margin-bottom: 36px;
}
.clients-list{
  display: flex;
  gap: 95px;
  justify-content: space-between;
}

/* manage */
.manage{
  padding: 28px 0 44px;
}
.manage-title{
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  margin-bottom: 8px;
}
.manage-img{
  margin: 0 auto;
  margin-bottom: 12px;
}
.manage-title-text{
  text-align: center;
  margin-bottom: 11px;
}
.manage-text{
  text-align: center;
  margin-bottom: 28px;
  max-width: 175px;
}
.manage-list{
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.manage-subtitle{
  text-align: center;
  max-width: 185px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 700;
}
.manage-text{
  font-size: 10px;
  line-height: 14px;
}

/* pixelgrade */
.pixelgrade{
  padding: 36px 0 70px;
  display: flex;
  gap: 35px;
}
.pixelgrade-wrapper{
  max-width: 460px;
}
.pixelgrade-title{
  margin-bottom: 8px;
}
.pixelgrade-text{
  margin-bottom: 22px;
  font-size: 10px;
}
.pixelgrade-img{
  /* max-width: 308px; */
  max-width: 100%;
  height: auto;
}
/* helping */
.helping {
  background-color: #F5F7FA;
  padding: 45px 0;
}
.helping-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.helping-title{
  margin-bottom: 8px;
  max-width: 284px;
}
.helping-text{
  font-size: 12px;
}

.helping-list{
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
  width: 540px;
}
.helping-item{
  
  display: flex;
  align-items: center;
  gap: 16px;
  flex-basis: calc(50%-15px);
}
.helping-number{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #4d4d4d;
  width: 45%;
}
.helping-list, .clients-list {
  display: flex;
  flex-wrap: wrap; /* Щоб на мобільних переносились */
  gap: 30px;
}
/* design */
.design{
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
}

.design-title{
  margin-top: 42px;
  margin-bottom: 5px;
}
.design-text{
  margin-bottom: 22px;
}
.design-button{
  margin-bottom: 42px;
}

/* tesla */
.tesla{
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
}
.tesla-text{
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 8px;
}
.tesla-text_subtitle{
  color: #4CAF4F;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
.tesla ul { display: flex; gap: 10px; }