.header {
  background-color: #f5f7fa;
}
h1 {
  color: #4d4d4d;
  font-size: 64px;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}
.submit {
  background-color: #4caf4f; /* Зелений колір Nexcent */
  color: white;
  padding: 14px 32px;
  text-decoration: none; /* Прибрати підкреслення посилання */
  border-radius: 4px; /* Закруглені кути */
  display: inline-block;
}
