body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #717171;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;

}
button {
  cursor: pointer;
  font-size: inherit;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.button {
  background-color: #4caf4f; /* Зелений колір Nexcent */
  color: white;
  padding: 14px 32px;
  text-decoration: none; /* Прибрати підкреслення посилання */
  border-radius: 4px; /* Закруглені кути */
  display: inline-block;
}
.button:hover{
   background-color: #388E3B;
   transition: background-color 0.3s ease;
}
.accent{
  color: #4caf4f;
}

.title{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  color:#4d4d4d;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 21px 0;
}
.nav{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-list {
  display: flex;
  gap: 17px;
}
.nav-link:hover, .nav-link:focus {
  border-bottom: 2px solid #4CAF4F;
  

}
.header-button {
  gap: 10px;
}


/* hero */
h1 {
  color: #4d4d4d;
  font-size: 64px;
}
.hero{
 
  background-color: #F5F7FA;
  padding: 67px 0;
}
.hero-wrapper{
   display: flex;
  justify-content: space-between;

}
.hero-title{
  max-width: 458px;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 8px;
}
.hero-text{
  margin-bottom: 23px;
}

/* clients */
.clients{
  padding: 28px 0;
}
.clients-title{
  text-align: center;
  margin-bottom: 8px;
}
.clients-text{
  text-align: center;
  margin-bottom: 36px;
}
.clients-list{
  display: flex;
  gap: 95px;
  justify-content: space-between;
}

/* manage */
.manage{
  padding: 28px 0 44px;
}
.manage-title{
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  margin-bottom: 8px;
}
.manage-img{
  margin: 0 auto;
  margin-bottom: 12px;
}
.manage-title-text{
  text-align: center;
  margin-bottom: 11px;
}
.manage-text{
  text-align: center;
  margin-bottom: 28px;
  max-width: 175px;
}
.manage-list{
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.manage-subtitle{
  text-align: center;
  max-width: 185px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 700;
}
.manage-text{
  font-size: 10px;
  line-height: 14px;
}

/* pixelgrade */
.pixelgrade{
  padding: 36px 0 70px;
  display: flex;
  gap: 35px;
}
.pixelgrade-wrapper{
  max-width: 460px;
}
.pixelgrade-title{
  margin-bottom: 8px;
}
.pixelgrade-text{
  margin-bottom: 22px;
  font-size: 10px;
}
.pixelgrade-img{
  /* max-width: 308px; */
  max-width: 100%;
  height: auto;
}
/* helping */
.helping {
  background-color: #F5F7FA;
  padding: 45px 0;
}
.helping-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.helping-title{
  margin-bottom: 8px;
  max-width: 284px;
}
.helping-text{
  font-size: 12px;
}

.helping-list{
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
  width: 540px;
}
.helping-item{
  
  display: flex;
  align-items: center;
  gap: 16px;
  width: calc(50% - 15px);
  /* width: 540px; */
}
.helping-number{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #4d4d4d;
  /* width: 45%; */
}
.helping-label {
  font-size: 16px;
  color: #717171;
}
/* .helping-list, .clients-list {
  display: flex;
  flex-wrap: wrap; /* Щоб на мобільних переносились */
  /* gap: 30px;
} */ */

/* design */
.design{
  padding: 34px 0;
}
.design-wrupper{
  display: flex;
  justify-content: space-between;
  gap: 35px;

}
.design-content{
  min-width: 420px;
  margin-top: 80px;
}

.design-title{
  margin-bottom: 12px;
}
.design-text{
  font-size: 10px;
  margin-bottom: 22px;
}
.design-button{
  margin-bottom: 42px;
}

/* tesla */
.tesla{
  background-color: #F5F7FA;
  padding: 23px 0;
}
.tesla-wrapper{
   display: flex;
  gap: 55px;
}
.tesla-content{
  max-width: 520px;
}
.tesla-text{
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 12px;
  font-weight: 500;
}
.tesla-text_subtitle{
  color: #4CAF4F;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}
.tesla-info{
  font-size: 12px;
  line-height: 1.2;
  color: #89939E;
  margin-bottom: 22px;
}
.tesla-clients{
  display: flex;
  gap: 20px;
}
.tesla ul { 
  display: flex; 
  gap: 28px; 
}
.tesla ul:hover,
.tesla ul:focus { 
  color: #5417D7;
  transition: color 0.3s ease;
} 
.link{
  color: #4CAF4F;
}
.tesla-arrow{
  margin-bottom: 10px;

}

/* caring */
.caring{
  padding: 34px 0 60px;
}
.caring-info{
  margin: 0 auto;
  max-width: 440px;
  text-align: center;
}
.caring-title{
  margin-bottom: 6px;
}
.caring-text{
  font-size: 12px;
  line-height: 1.3;
  color: #717171;
  margin-bottom: 12px;
}
.caring-list{
  display: flex;
  gap: 16px;
}
.caring-item{
  border-radius: 6px;
width: 256px;
height: 199px;
position: relative; /* Тепер текст всередині буде "прив'язаний" до цієї картки */
  margin-bottom: 80px;
}
.caring-item img {
  width: 100%;
  height: 100%;
  position: relative;
}
.caring-img-info{
  position: absolute;
  /* bottom: 10px; */
  bottom: -60px;
  background-color: #f5f7fa;
  left: 23%;
  transform: translateX(-15%);
  max-width: 220px;
  margin: 0 auto;
  z-index: 100; 
  padding: 12px;
  box-shadow: 0 6px 11px 0 rgba(171, 190, 209, 0.4);
 
}
.caring-img-text{
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
   margin-bottom: 12px;
}
.libero{
  background-color:  #f5f7fa;
  padding: 22px 0;
}
.libero .container {
  text-align: center;
}
.libero-title{
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
font-size: 44px;
line-height: 1.2;
max-width: 620px;
margin-bottom: 22px;
}
.libero-button{
  display: inline-block;
  text-align: center;

}
.footer{
  background-color: #263238;
  padding: 44px 0 52px;
  
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 114px;

}
.footer-text{
  font-weight: 400;
font-size: 9px;
line-height: 1.4;
color:  #f5f7fa;
}
.footer-social{
  display: flex;
  justify-content: space-between;
}
.footer-logo{
  margin-bottom: 30px;
}
.logo-text{
  margin-bottom: 20px;
}
.social-link{
  background-color: #4d4d4d;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.footer-title{
  font-weight: 600;
font-size: 13px;
line-height: 1.4;
color: #ffffff;
}
.footer input[type="email"] {
  background: rgba(255, 255, 255, 0.2); /* Напівпрозорий фон */
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  color: #D9D9D9;
  outline: none;
}

.footer input::placeholder {
  color: #D9D9D9;
  font-size: 14px;
}