body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #717171;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;

}
button {
  cursor: pointer;
  font-size: inherit;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.header {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav{
  display: flex;
  align-items: center;
  margin-left: auto;
}
h1 {
  color: #4d4d4d;
  font-size: 64px;
}

.button {
  background-color: #4caf4f; /* Зелений колір Nexcent */
  color: white;
  padding: 14px 32px;
  text-decoration: none; /* Прибрати підкреслення посилання */
  border-radius: 4px; /* Закруглені кути */
  display: inline-block;
}
.accent{
  color: #4caf4f;
}

.title{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color:#4d4d4d;
}
.nav-list {
  display: flex;
  gap: 17px;
}
.header{
  align-items: center;
  padding: 21px 0;
}
.header-button {
  gap: 10px;
}
/* hero */
.hero{
  display: flex;
  justify-content: space-between;
  background-color: #F5F7FA;
  padding: 67px 0;
}
.hero-title{
  max-width: 458px;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 8px;
}
.hero-text{
  margin-bottom: 23px;
}
/* clients */
.clients{
  padding: 28px 0;
}
.clients-title{
  text-align: center;
  margin-bottom: 8px;
}
.clients-text{
  text-align: center;
  margin-bottom: 36px;
}
.clients-list{
  display: flex;
  gap: 95px;
  justify-content: space-between;
}
/* manage */
.manage-title{
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  margin-bottom: 8px;
}
.manage-text{
  text-align: center;
  margin-bottom: 28px;
}
.manage-list{
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.manage-subtitle{
  text-align: center;
  max-width: 185px;
}
.manage-text{
  font-size: 10px;
  line-height: 14px;
}
/* pixelgrade */
.pixelgrade{
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.pixelgrade-title{
  margin-bottom: 8px;
}
.pixelgrade-text{
  margin-bottom: 22px;
}
/* helping */
.helping {
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
}
.helping-title{
  margin-bottom: 8px;
}
.helping-text{
  font-size: 12px;
}
.helping-list{
  display: flex;
  justify-content: space-between;
}
.helping-item{
  margin-bottom: 28px;
}
.helping-number{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 8px;
}
.helping-list, .clients-list {
  display: flex;
  flex-wrap: wrap; /* Щоб на мобільних переносились */
  gap: 30px;
}
/* design */
.design{
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
}

.design-title{
  margin-top: 42px;
  margin-bottom: 5px;
}
.design-text{
  margin-bottom: 22px;
}
.design-button{
  margin-bottom: 42px;
}

/* tesla */
.tesla{
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
}
.tesla-text{
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 8px;
}
.tesla-text_subtitle{
  color: #4CAF4F;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
.tesla ul { display: flex; gap: 10px; }