body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #717171;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
button {
  cursor: pointer;
  font-size: inherit;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  

}
.nav{
  display: flex;
  align-items: center;
  justify-content: 0 left;
}
h1 {
  color: #4d4d4d;
  font-size: 64px;
}

.button {
  background-color: #4caf4f; /* Зелений колір Nexcent */
  color: white;
  padding: 14px 32px;
  text-decoration: none; /* Прибрати підкреслення посилання */
  border-radius: 4px; /* Закруглені кути */
  display: inline-block;
}
.accent{
  color: #4caf4f;
}

.title{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color:#4d4d4d;
}
.nav-list {
  display: flex;
  gap: 17px;
}
.header{
  align-items: center;
  padding: 21px 0;
}
.header-button {
  gap: 10px;
}
/* hero */
.hero{
  display: flex;
  justify-content: space-between;
  background-color: #F5F7FA;
  padding: 67px 0;
}
.hero-title{
  max-width: 458px;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 8px;
}
.hero-text{
  margin-bottom: 23px;
}
/* clients */
.clients{
  padding: 28px 0;
}
.clients-title{
  text-align: center;
  margin-bottom: 8px;
}
.clients-text{
  text-align: center;
  margin-bottom: 36px;
}
.clients-list{
  display: flex;
  gap: 95px;
  justify-content: space-between;
}
/* manage */
.manage-title{
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  margin-bottom: 8px;
}
.manage-text{
  text-align: center;
  margin-bottom: 28px;
}
.manage-list{
  display: flex;
}
.manage-item{
  max-width: 185px;
}
.manage-subtitle{
  text-align: center;
  max-width: 185px;
}